/* You can add global styles to this file, and also import other style files */
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl
{
    margin-top: 2rem !important;
}

.custom-validation-alert
{
    color: red;
    position: absolute;
    top: 57px;
    padding: 0 .8rem;
}

.col-12, .col-4
{
    position: relative;
}